[Unit]
Description=SOV's distributed currency daemon
After=network.target

[Service]
User=sovcore
Group=sovcore

Type=forking
PIDFile=/var/lib/sovd/sovd.pid
ExecStart=/usr/bin/sovd -daemon -pid=/var/lib/sovd/sovd.pid \
-conf=/etc/sovcore/sov.conf -datadir=/var/lib/sovd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
